USE [app]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Event_ID] [int] IDENTITY(1,1) NOT NULL,
	[Event_Det_ID] [int] NULL,
	[Users_ID] [int] NULL,
	[Available_Start] [time](7) NULL,
	[Available_End] [time](7) NULL,
	[Event_Loc_ID] [int] NULL,
 CONSTRAINT [PK__Event__FD6BEFE4AB461E9D] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Det]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Det](
	[Event_Det_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[Created_By] [int] NULL,
	[Event_Date] [date] NULL,
	[Start_Time] [time](7) NULL,
	[End_Time] [time](7) NULL,
	[Number_Days] [int] NULL,
	[img] [varchar](max) NULL,
	[Details] [varchar](max) NULL,
 CONSTRAINT [PK__Event_De__315E2D3838346207] PRIMARY KEY CLUSTERED 
(
	[Event_Det_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_Loc]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_Loc](
	[Event_Loc_ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [varchar](max) NULL,
	[County] [varchar](max) NULL,
	[Event_Det_ID] [int] NULL,
	[Location_Manager] [int] NULL,
	[Available_Spaces] [int] NULL,
	[Raised] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_Loc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hobby]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hobby](
	[hobby_ID] [int] NOT NULL,
	[hobby] [nvarchar](50) NULL,
	[test_ID] [int] NULL,
 CONSTRAINT [PK_hobby] PRIMARY KEY CLUSTERED 
(
	[hobby_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Table]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Table](
	[test_ID] [smallint] NOT NULL,
	[name] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[userName] [varchar](max) NULL,
	[Password] [varbinary](max) NULL,
 CONSTRAINT [PK_Test_Table] PRIMARY KEY CLUSTERED 
(
	[test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Roles]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Roles](
	[User_Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Users_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NULL,
	[Email] [varchar](max) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Town] [varchar](50) NULL,
	[County] [nchar](10) NULL,
	[Vetted] [varchar](50) NULL,
	[User_Role] [int] NULL,
	[Password] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Users_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_detail]    Script Date: 29/12/2021 20:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_detail](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Password] [varbinary](150) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Event_ID], [Event_Det_ID], [Users_ID], [Available_Start], [Available_End], [Event_Loc_ID]) VALUES (1, 4, 1, CAST(N'08:55:00' AS Time), CAST(N'10:00:00' AS Time), 4)
INSERT [dbo].[Event] ([Event_ID], [Event_Det_ID], [Users_ID], [Available_Start], [Available_End], [Event_Loc_ID]) VALUES (78, 27, 9, CAST(N'11:00:00' AS Time), CAST(N'13:30:00' AS Time), 59)
INSERT [dbo].[Event] ([Event_ID], [Event_Det_ID], [Users_ID], [Available_Start], [Available_End], [Event_Loc_ID]) VALUES (79, 27, 12, CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), 59)
GO
SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[Event_Det] ON 

INSERT [dbo].[Event_Det] ([Event_Det_ID], [Name], [Created_By], [Event_Date], [Start_Time], [End_Time], [Number_Days], [img], [Details]) VALUES (3, N'Memory Ribbon Day', 1, CAST(N'2019-11-11' AS Date), CAST(N'11:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, N'https://volunteer-pro-images.s3-eu-west-1.amazonaws.com/images/Greg.png', N'We are hosting our annual memory ribbon day  again this year in multiple loactions across the country on the 11/11-2019')
INSERT [dbo].[Event_Det] ([Event_Det_ID], [Name], [Created_By], [Event_Date], [Start_Time], [End_Time], [Number_Days], [img], [Details]) VALUES (5, N'Bucket Collection', 1, CAST(N'2020-01-16' AS Date), CAST(N'09:00:00' AS Time), CAST(N'22:00:00' AS Time), 1, N'https://volunteer-pro-images.s3-eu-west-1.amazonaws.com/images/alzLogo.jpg', N'A fantastic event aimed at raising as much funds for Alzheimers as possibe, Hope to see you there !')
SET IDENTITY_INSERT [dbo].[Event_Det] OFF
SET IDENTITY_INSERT [dbo].[Event_Loc] ON 

INSERT [dbo].[Event_Loc] ([Event_Loc_ID], [Location], [County], [Event_Det_ID], [Location_Manager], [Available_Spaces], [Raised]) VALUES (1, N'Merchants Quay', N'cork', 3, 3, 5, 5890)
INSERT [dbo].[Event_Loc] ([Event_Loc_ID], [Location], [County], [Event_Det_ID], [Location_Manager], [Available_Spaces], [Raised]) VALUES (2, N'Wilton', N'cork', 3, 3, 4, 2000)
INSERT [dbo].[Event_Loc] ([Event_Loc_ID], [Location], [County], [Event_Det_ID], [Location_Manager], [Available_Spaces], [Raised]) VALUES (3, N'South Mall', N'cork', 3, 3, 6, 3000)
SET IDENTITY_INSERT [dbo].[Event_Loc] OFF
INSERT [dbo].[hobby] ([hobby_ID], [hobby], [test_ID]) VALUES (1, N'Football', 2)
INSERT [dbo].[hobby] ([hobby_ID], [hobby], [test_ID]) VALUES (2, N'Hurling', 3)
INSERT [dbo].[hobby] ([hobby_ID], [hobby], [test_ID]) VALUES (3, N'Skiiing', 1)
INSERT [dbo].[Test_Table] ([test_ID], [name], [Address], [userName], [Password]) VALUES (1, N'Conor', N'Newbridge', N'conor1@mail.com', 0x3627909A29C31381A071EC27F7C9CA97726182AED29A7DDD2E54353322CFB30ABB9E3A6DF2AC2C20FE23436311D678564D0C8D305930575F60E2D3D048184D79)
INSERT [dbo].[Test_Table] ([test_ID], [name], [Address], [userName], [Password]) VALUES (2, N'Jonny', N'Cork', N'conor1@mail.com', 0x473C7793D15F3924439D5F00DD7DC4332E9DC47B2C2FBC31103E5BB55C211F836AD254BA61910D04F4168C107A6FBD7E979C4AD9E519EE9D57BDDDD09B291A8C)
INSERT [dbo].[Test_Table] ([test_ID], [name], [Address], [userName], [Password]) VALUES (3, N'Mary', N'Belfast', N'conor1@mail.com', 0x473C7793D15F3924439D5F00DD7DC4332E9DC47B2C2FBC31103E5BB55C211F836AD254BA61910D04F4168C107A6FBD7E979C4AD9E519EE9D57BDDDD09B291A8C)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Users_ID], [First_Name], [Last_Name], [Email], [Phone], [Address], [Town], [County], [Vetted], [User_Role], [Password]) VALUES (1, N'James', N'barry', N'Murphy@Gmail.com', N'0862348567', N'NewestBridge', N'newbridge', N'kildare   ', N'Yes', 2, 0xE6C83B282AEB2E022844595721CC00BBDA47CB24537C1779F9BB84F04039E1676E6BA8573E588DA1052510E3AA0A32A9E55879AE22B0C2D62136FC0A3E85F8BB)
INSERT [dbo].[Users] ([Users_ID], [First_Name], [Last_Name], [Email], [Phone], [Address], [Town], [County], [Vetted], [User_Role], [Password]) VALUES (3, N'Mike', N'Ryan', N'John@Gmail.com', N'0862344447', N'Something', N'Old Kilkullen', N'cavan     ', N'Yes', 1, 0xE6C83B282AEB2E022844595721CC00BBDA47CB24537C1779F9BB84F04039E1676E6BA8573E588DA1052510E3AA0A32A9E55879AE22B0C2D62136FC0A3E85F8BB)
INSERT [dbo].[Users] ([Users_ID], [First_Name], [Last_Name], [Email], [Phone], [Address], [Town], [County], [Vetted], [User_Role], [Password]) VALUES (4, N'Mary', N'Smith', N'Mary@Gmail.com', N'0862344447', N'OldB', N'newbridge', N'wicklow   ', N'Yes', 1, 0xE6C83B282AEB2E022844595721CC00BBDA47CB24537C1779F9BB84F04039E1676E6BA8573E588DA1052510E3AA0A32A9E55879AE22B0C2D62136FC0A3E85F8BB)
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[Users_detail] ([ID], [Name], [Password]) VALUES (1, N'sql_shack_User1', 0x473C7793D15F3924439D5F00DD7DC4332E9DC47B2C2FBC31103E5BB55C211F836AD254BA61910D04F4168C107A6FBD7E979C4AD9E519EE9D57BDDDD09B291A8C)
INSERT [dbo].[Users_detail] ([ID], [Name], [Password]) VALUES (2, N'sql_shack_User2', 0x84045A1558FBFE0A77A3BF0082E5839C30FB5BF64882B5C9C3F2EF7B185A4DAE5EB4D90524EB8A937731736ECE6C6DD4634B8DB1733917ACFC61685FFCB7C9C0)
